<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="utf-8" />
	<title>Rocket Elevator Corporate</title>
	<meta name="description" content="" />
	<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

	<!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<!-- WEB FONTS : use %7C instead of | (pipe) -->
	<!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />-->
	<link href="https://fonts.google.com/specimen/Roboto" rel="stylesheet" type="text/css" />
	<!-- CORE CSS -->
	<link href="assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />

	<!-- THEME CSS -->
	<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />

	<!-- PAGE LEVEL SCRIPTS -->
	<link href="assets/css/header-1.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />

	<link href="assets/css/custom.css" rel="stylesheet" type="text/css" />
</head>

<!--Formulaire Js-->



<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		data-background="assets/images/_/boxed_background/1.jpg"
	-->

<body class="smoothscroll enable-animation">

	<!-- SLIDE TOP -->
	<div id="slidetop">

		<div class="container">

			<div class="row">

				<div class="col-md-4">
					<h6><i class="icon-heart"></i> A MESSAGE FROM OUR PRESIDENT</h6>
					<p>We have chosen to live by 3 core values: Integrity, Service, and Quality, and these words are more than a
						poster hanging in our office; each week we share stories of how these core values are being lived out by our
						team. I am very proud that we are a top TSSA elevator contractor in America, and that we were nominated for
						“Best
						Contractor in America”. I am most pleased, however, by the comments we continually receive from our satisfied
						customers, as attested by our 4.9/5.0 Google Review Score and Comments. I hope you decide to give Elevator One a
						try. I am sure you won’t be disappointed.”</p>
				</div>

				<div class="col-md-4">
					<h6><i class="fa-facheck"></i> WHY US ?</h6>
					<ul class="list-unstyled">
						<li><a href="#"><i class="fa fa-angle-right"></i> Professional technicians.</a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i> We design, evaluate and justify technology solutions.</a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i> Largest market share throughout Central America.</a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i> Because of our superior service.</a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i> Every Rocket home elevator includes warranty.</a></li>
					</ul>
				</div>

				<div class="col-md-4">
					<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
					<ul class="list-unstyled">
						<li><b>Address:</b> Québec, QC G2J 0C4<br />Boulevard Lebourgneuf,</li>
						<li><b>Phone:</b> (418) 580-7055</li>
						<li><b>Email:</b> <a href="rocketeleveator@codeboxx.biz">rocketeleveator@codeboxx.biz</a></li>
					</ul>
				</div>

			</div>

		</div>

		<a class="slidetop-toggle" href="#">
			<!-- toggle button --></a>

	</div>
	<!-- /SLIDE TOP -->




	<!-- wrapper -->
	<div id="wrapper">

		<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
		<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

			<!-- TOP NAV -->
			<header id="topNav">
				<div class="container">

					<!-- Mobile Menu Button -->
					<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="fa fa-bars"></i>
					</button>

					<!-- BUTTONS -->
					<ul class="float-right nav nav-pills nav-second-main">

						<!-- SEARCH -->
						<li class="search">
							<a href="javascript:;">
								<i class="fa fa-search"></i>
							</a>
							<div class="search-box">
								<form action="page-search-result-1.html" method="get">
									<div class="input-group">
										<input type="text" name="src" placeholder="Search" class="form-control" />
										<span class="input-group-btn">
											<button class="btn btn-primary" type="submit">Search</button>
										</span>
									</div>
								</form>
							</div>
						</li>
						<!-- /SEARCH -->

					</ul>
					<!-- /BUTTONS -->

					<!-- Logo -->
					<a class="logo float-left" href="index.html">
						<img src="assets/image1/R2.png" alt="logo" />
					</a>

					<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
					<div class="navbar-collapse collapse float-right nav-main-collapse">
						<nav class="nav-main">

							<!--
									NOTE
									
									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example: 

									<li>
										<a href="#">HOME</a>
									</li>
								-->
							<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
								<li class="active">
									<!-- HOME -->
									<a href="index.html">
										HOME
									</a>
								</li>
								<li>
									<!-- SERVICES -->
									<a href="index.html#services">
										SERVICES
									</a>
								</li>
								<li>
									<!-- WORK -->
									<a href="index.html#work">
										PORTFOLIO
									</a>
								</li>
								<li>
									<!-- NEWS -->
									<a href="index.html#news">
										NEWS
									</a>
								</li>

								<li>
									<!-- CLIENTS -->
									<a href="index.html#clients">
										CLIENTS
									</a>
								</li>

								<li>
									<!-- CONTACT -->
									<a href="index.html#contact">
										CONTACT
									</a>
								</li>
							</ul>




			</header>


		</div>


		<!-- 
				PAGE HEADER 
				
				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
		<section class="page-header">
			<div class="container">
				<br>
				<h1><strong>Get a quote</strong></h1>

				<!-- breadcrumbs -->
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li><a href="index.html#services">Services</a></li>
				</ol><!-- /breadcrumbs -->

			</div>
		</section>
		<!-- /PAGE HEADER -->





		
			<!-- CONTACT -->
			<section id="contact">
				<div class="container">
					<p class="lead"><span style=color:#0b64a0>
							At Rocket Elevator, we have introduced an online submission system to save you time, please note that the
							results
							may vary when we do the analysis of your project and some projects require more specification that's why it is
							always better to contact us after an online quote.</p>
					<header class="text-center mb-60">

						<h3>Request information !</h3>
						<h5>1. Complete all mandatory (<span style="color:#a03129">*</span>) fields!</h5>
						<h5>2. Select a product range !</h5>
						<p class="lead font-lato"></p>

					</header>

						<!-- divider -->
						<center>
								<div class="container"></div>
							</center>
							<div class="divider divider-center divider-color">
								<i class="fa fa-chevron-down"></i>
							</div>
							<!-- divider -->


					<div class="row">

						<!-- FORM -->
						<div class="col-md-8 col-sm-8">
							<!--
									MESSAGES
									
										How it works?
										The form data is posted to php/contact.php where the fields are verified!
										php.contact.php will redirect back here and will add a hash to the end of the URL:
											#alert_success 		= email sent
											#alert_failed		= email not sent - internal server error (404 error or SMTP problem)
											#alert_mandatory	= email not sent - required fields empty
											Hashes are handled by assets/js/contact.js
	
										Form data: required to be an array. Example:
											contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
											Also, add `required` to input fields if is a mandatory field. 
											Example: <input required type="email" value="" class="form-control" name="contact[email][required]">
	
										PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
													 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP
	
										WARNING! Do not change the `email` and `name`!
													contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
													contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
								-->

							<!-- Alert Success -->
							<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div><!-- /Alert Success -->


							<!-- Alert Failed -->
							<div id="alert_failed" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>[SMTP] Error!</strong> Internal server error!
							</div><!-- /Alert Failed -->


							<!-- Alert Mandatory -->
							<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
							</div><!-- /Alert Mandatory -->
<section class="col-md-8">
								<form action="php/contact.php" method="post" enctype="multipart/form-data">
									<fieldset>
										<input type="hidden" name="action" value="contact_send" />


										<div class="row">

											<div class="col-md-4">
												<label for="contact_department">Type of Building</label>
												<select id="select_department" class="form-control pointer" name="contact[department]">
													<option value="">--- Select ---</option>
													<option value="Residential">Residential</option>
													<option value="Commercial">Commercial</option>
													<option value="Corporate">Corporate</option>
													<option value="Hybrid">Hybrid</option>
													
												</select>
											</div>
										</div>

										<div class="divider  divider-color"></div>


										<!--Bouton radio residentiel-->

										<label for="contact_department" style="color:#a03129">Product Range</label>

										<div id="radio1" class="radio-block">

											<strong>Standard</strong><INPUT class="radio" type="radio" id="standard" name="tarif" onchange="residential(value)"><br>
											<strong>Premium</strong><INPUT class="radio" type="radio" id="premium" name="tarif" onchange="residential(value)"><br>
											<strong>Excelium</strong><INPUT class="radio" type="radio" id="excellent" name="tarif" onchange="residential(value)">

										</div>

										<!--Bouton radio-->

										<!--Bouton radio corporate-->

										<div id="radio2" class="radio-block">

											<strong>Standard</strong><INPUT class="radio" type="radio" id="standard1" name="tarif" onchange="corporate(value)"><br>
											<strong>Premium</strong><INPUT class="radio" type="radio" id="premium1" name="tarif" onchange="corporate(value)"><br>
											<strong>Excelium</strong><INPUT class="radio" type="radio" id="excellent1" name="tarif" onchange="corporate(value)">
								</FORM>
						</div>

						<!--Bouton radio-->

						<!--Bouton radio hybride-->

						<div id="radio3" class="radio-block">

							<strong>Standard</strong><INPUT class="radio" type="radio" id="standard2" name="tarif" onchange="hybrid(value)"><br>
							<strong>Premium</strong><INPUT class="radio" type="radio" id="premium2" name="tarif" onchange="hybrid(value)"><br>
							<strong>Excelium</strong><INPUT class="radio" type="radio" id="excellent2" name="tarif" onchange="hybrid(value)">
							</FORM>
						</div>

						<!--Bouton radio-->

						<!--Bouton radio commercial-->

						<div id="radio4" class="radio-block">

							<strong>Standard</strong><INPUT class="radio" type="radio" id="standard3" name="tarif" onchange="commercial(value)"><br>
							<strong>Premium</strong><INPUT class="radio" type="radio" id="premium3" name="tarif" onchange="commercial(value)"><br>
							<strong>Excelium</strong><INPUT class="radio" type="radio" id="excellent3" name="tarif" onchange="commercial(value)">
							</FORM>
						</div>

						
						<div class="divider  divider-color"></div>
								
						
						<!--Bouton radio-->

						<div>


							<!--Sub1-->
							<div id="sub1" class="">


								<label for="numberapartements">The number of apartments.<span style="color:#a03129">*</span></label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="appnumber" id="nbapp1" onchange="residential(value)" onkeyup="residential(value)">



								<label for="numberfloors">The number of floors.<span style="color:#a03129">*</span></label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber" id="nbfl1" onchange="residential(value)"
								 onkeyup="residential(value)">



								<label for="numberbasements">The number of basements.</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="basenumber" id="nbbase1" onchange="residential(value)"
								 onkeyup="residential(value)">

							</div>
							<!--Sub1-->

							<!--Sub2 commercial-->

							<div id="sub2" class="">
								<label for="contact:phone">The number of separate business</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="appnumber[appnumber]" id="contact:phone">



								<label for="contact:phone">The number of floors.</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="contact:phone">



								<label for="contact:phone">The number of basements.</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="basenumber[basenumber]" id="contact:phone">


								<label for="contact:phone">The number of parking places.</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="contact:phone">


								<label for="contact:phone">The number of lift cages to deploy.<span style="color:#a03129">*</span></label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="nbcage2" onchange="commercial(value)"
								 onkeyup="commercial()">

							</div>

							<!--Sub2-->

							<!--Sub3 corporate-->
							<div id="sub3" class="">
								<label for="contact:phone">The number of companies who rent.</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="appnumber[appnumber]" id="contact:phone">



								<label for="contact:phone">The number of floors.<span style="color:#a03129">*</span></label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="nbfloor3" onchange="corporate(value)"
								 onkeyup="corporate(value)">




								<label for="contact:phone">The number of basements.<span style="color:#a03129">*</span></label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="basenumber[basenumber]" id="nbbase3" onchange="corporate(value)"
								 onkeyup="corporate(value)">



								<label for="contact:phone">The number of parking places.</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="contact:phone">


								<label for="contact:phone">The number of maximum occupants per floor.<span style="color:#a03129">*</span></label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="nboccfloor3" onchange="corporate(value)"
								 onkeyup="corporate(value)">
							</div>
							<!--Sub3-->

							<!--Sub4 hybrid-->
							<div id="sub4" class="">
								<label for="contact:phone">The number of separate business.</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="appnumber[appnumber]" id="contact:phone">



								<label for="contact:phone">The number of floors.<span style="color:#a03129">*</span></label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="nbfloor4" onchange="hybrid(value)"
								 onkeyup="hybrid(value)">




								<label for="contact:phone">The number of basements.<span style="color:#a03129">*</span></label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="basenumber[basenumber]" id="nbbase4" onkeyup="hybrid(value)"
								 onkeyup="hybrid(value)">



								<label for="contact:phone">The number of parking places.</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="contact:phone">


								<label for="contact:phone">The number of maximum occupants per floor.<span style="color:#a03129">*</span></label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="nboccfloor4" onchange="hybrid(value)"
								 onkeyup="hybrid(value)">




								<label for="contact:phone">The number of hours of activity of the building (maximum 24).</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="contact:phone">

							</div>
							<!--Sub4-->

							<br>
							<br>
							<p class="float-left" style="color:#0b64a0"><strong><br><br>Your Quote !</strong><br></p>
					

							<!-- TOTAL residentiel -->

							<div class="" id="total1">

								<div class="toggle active" id="total1">
									<div class="toggle-content" id="total1">



										


										<span class="clearfix">
											<span class="float-left" value="0" id="resultinstall1" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<span class="clearfix">
											<span class="float-left" value="0" id="installfee" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>


										<hr />
										<span class="clearfix">
											<span class="float-left" value="0" id="uniteprice1" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<span class="clearfix">
											<span class="float-left" value="0" id="installfee1" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<hr />

										<span class="clearfix">

											<span class="float-left fs-20" value="0" for="quantity" id="result1" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<output class="float-left"></output>

										</span>

										<hr />

									</div>
								</div>
							</div>

							<!-- /TOTAL corporate-->

							<div class="" id="total2">

								<div class="toggle active" id="total2">
									<div class="toggle-content" id="total2">

										

										<span class="clearfix">
											<span class="float-left" id="resultinstall2" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<span class="clearfix">
											<span class="float-left" id="pourcent" onchange="residential(value)" onchange="corporate(value)" onchange="hybrid(value)"
											 onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<hr />
										<span class="clearfix">
											<span class="float-left" id="installfee2" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<span class="clearfix">
											<span class="float-left" id="uniteprice2" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<hr />

										<span class="clearfix">

											<span class="float-left fs-20" for="quantity" id="result2" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<output class="float-left"></output>

										</span>

										<hr />

									</div>
								</div>
							</div>



							<!-- TOTAL hybrid-->



							<div class="" id="total3">

								<div class="toggle active" id="total3">
									<div class="toggle-content" id="total3">

										

										<span class="clearfix">
											<span class="float-left" id="resultinstall3" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<span class="clearfix">
											<span class="float-left" id="pourcent1" onchange="residential(value)" onchange="corporate(value)" onchange="hybrid(value)"
											 onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<hr />

										<span class="clearfix">
											<span class="float-left" id="installfee3" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<span class="clearfix">
											<span class="float-left" id="uniteprice3" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<hr />

										<span class="clearfix">

											<span class="float-left fs-20" for="quantity" id="result3" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<output class="float-left"></output>

										</span>

										<hr />

									</div>
								</div>
							</div>

							<!-- /TOTAL commercial-->

							<div class="" id="total4">

								<div class="toggle active" id="total4">
									<div class="toggle-content" id="total4">


										

										<span class="clearfix">
											<span class="float-left" id="resultinstall4" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<span class="clearfix">
											<span class="float-left" id="pourcent4" onchange="residential(value)" onchange="corporate(value)" onchange="hybrid(value)"
											 onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<hr />

										<span class="clearfix">
											<span class="float-left" id="installfee4" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<span class="clearfix">
											<span class=""float-left"" id="uniteprice4" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<hr />

										<span class="clearfix">

											<span class="float-left" fs-20" for="quantity" id="result4" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<output class="float-left"></output>

										</span>

										<hr />

									</div>
								</div>
							</div>
							<!-- /TOTAL-->
							<br>	<br>	<br>
						</section>
							<div id="sub1"></div>

							</fieldset>

							<div class="row">
								<!--<div class="col-md-12">
											<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Get your Quote</button>
										</div>
									-->
							</div>


							</form>

						</div>

					</div>
				</div>

				<div class="text-center mt-30 mb-30">
					<div class="owl-carousel m-0" data-plugin-options='{"singleItem": false, "autoPlay": true}'>
						<div>
							<img class="img-fluid5" src="assets/image1/logo1.png" alt="">
						</div>
						<div>
							<img class="img-fluid5" src="assets/image1/logo2.png" alt="">
						</div>
						<div>
							<img class="img-fluid5" src="assets/image1/logo3.png" alt="">
						</div>
						<div>
							<img class="img-fluid5" src="assets/image1/logo4.png" alt="">
						</div>
						<div>
							<img class="img-fluid5" src="assets/image1/logo5.png" alt="">
						</div>
						<div>
							<img class="img-fluid5" src="assets/image1/logo6.png" alt="">
						</div>
						<div>
							<img class="img-fluid5" src="assets/image1/logo8.png" alt="">
						</div>
						<div>
							<img class="img-fluid5" src="assets/image1/logo9.png" alt="">
						</div>
						<div>
							<img class="img-fluid5" src="assets/image1/logo10.png" alt="">
						</div>
						<div>
							<img class="img-fluid5" src="assets/image1/logo11.png" alt="">
						</div>
						<div>
							<img class="img-fluid5" src="assets/image1/logo12.png" alt="">
						</div>


					</div>
				</div>
	</div>

	</div>

	<!-- /CONTACT -->
	

	<!-- FOOTER -->
	<footer id="footer">
		<div class="container">

			<div class="row">

				<!-- col #1 -->
				<div class="col-md-8">

					<h3 class="letter-spacing-1">A message from our president !</h3>
					<p>We have chosen to live by 3 core values: Integrity, Service, and Quality, and these words are more than a
						poster hanging in our office; each week we share stories of how these core values are being lived out by our
						team. I am very proud that we are a top TSSA elevator contractor in the World, and that we were nominated for
						“Best Contractor in the World”. I am most pleased, however, by the comments we continually receive from our
						satisfied customers, as attested by our 4.9/5.0 Google Review Score and Comments. I hope you decide to give
						Elevator One a try. I am sure you won’t be disappointed.”</p>

					<!-- Small Description -->

					<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> Boulevard Lebourgneuf, Québec, QC
						G2J 0C4</span>
					<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1800-555-1234">(418) 580-7055</a></span>
					<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:mail@yourdomain.com">rocketelevator@codeboxx.biz</a></span>
					</p>

				</div>
				<!-- /col #1 -->

				<!-- col #2 -->
				<div class="col-md-4">
					<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

					<!-- Newsletter Form -->
					<p>Subscribe to Our Newsletter to get Important News & Offers</p>

					<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!"
					 data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
							<span class="input-group-btn">
								<button class="btn btn-success" type="submit">Subscribe</button>
							</span>
						</div>
					</form>
					<!-- /Newsletter Form -->

				</div>
				<!-- /col #2 -->

			</div>


		</div>

		<div class="copyright">
			<div class="container">
				<ul class="float-right m-0 list-inline mobile-block">

				</ul>
				&copy; All Rights Reserved, Rocket Elevator.
			</div>
		</div>

	</footer>
	<!-- /FOOTER -->
	</div>
	<!-- /wrapper -->


	<!-- SCROLL TO TOP -->
	<a href="#" id="toTop"></a>


	<!-- PRELOADER -->
	<div id="preloader">
		<div class="inner">
			<span class="loader"></span>
		</div>
	</div><!-- /PRELOADER -->
	</div>


	<!-- JAVASCRIPT FILES -->
	<script>var plugin_path = 'assets/plugins/';</script>
	<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>

	<script src="assets/js/scripts.js"></script>
	<script src="assets/js/quote.js"></script>


	</script>


</body>

</html>