<!DOCTYPE html>
<html lang="en">

<head>
<title>Rocket Elevators</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true%>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

<meta charset="utf-8" />
	<meta name="description" content="" />
	<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

	<!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<!-- WEB FONTS : use %7C instead of | (pipe) -->
	<!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />-->
	<link href="https://fonts.google.com/specimen/Roboto" rel="stylesheet" type="text/css" />
	<!-- CORE CSS -->
	<link href="assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />

	<!-- REVOLUTION SLIDER -->
	<link href="assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

	<!-- THEME CSS -->
	<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />

	<!-- PAGE LEVEL SCRIPTS -->
	<link href="assets/css/header-1.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/color_scheme/yellow.css" rel="stylesheet" type="text/css" id="color_scheme" />

	<link href="assets/css/custom.css" rel="stylesheet" type="text/css" />
<!-- JAVASCRIPT FILES -->
	<script>var plugin_path = 'assets/plugins/';</script>
	<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>

	<script src="assets/js/scripts.js"></script>


	<!-- REVOLUTION SLIDER -->
	<script src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script src="assets/js/view/demo.revolution_slider.js"></script>

	<!-- PAGELEVEL SCRIPTS -->
	<script src="assets/js/contact.js"></script>

</head>

<body>

<header id="topNav">
				<div class="container">

					<!-- Mobile Menu Button -->
					<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="fa fa-bars"></i>
					</button>

					<!-- Logo -->
					<a class="logo float-left scrollTo" href="#contact">
						<img src="assets/image1/R2.png" alt="Logo Rocket elevators" />
					</a>

					<!--
							Top Nav

							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
					<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
						<nav class="nav-main">

							<!--
									.nav-onepage
									Required for onepage navigation links

									Add .external for an external link!
								-->
							<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
								<li class="active">
									<!-- HOME -->
									<a href="index.html">
										HOME
									</a>
								</li>
								<li>
									<!-- SERVICES -->
									<a href="#services">
										SERVICES
									</a>
								</li>
								<li>
									<!-- WORK -->
									<a href="#work">
										PORTFOLIO
									</a>
								</li>
								<li>
									<!-- NEWS -->
									<a href="#news">
										NEWS
									</a>
								</li>

								<li>
									<!-- CLIENTS -->
									<a href="#clients">
										CLIENTS
									</a>
								</li>

								<li>
									<!-- CONTACT -->
									<a href="#contact">
										CONTACT
									</a>
								</li>
							</ul>

						</nav>
					</div>

				</div>
			</header>

 <%= yield %>

<footer id="footer">
			<div class="container">


				<div class="row">

					<!-- col #1 -->
					<div class="col-md-8">

						<h3 class="letter-spacing-1">A message from our president !</h3>
						<p>We have chosen to live by 3 core values: Integrity, Service, and Quality, and these words are more than a
							poster hanging in our office; each week we share stories of how these core values are being lived out by our
							team. I am very proud that we are a top TSSA elevator contractor in America, and that we were nominated for
							“Best Contractor in the World”. I am most pleased, however, by the comments we continually receive from our
							satisfied customers, as attested by our 4.9/5.0 Google Review Score and Comments. I hope you decide to give
							Elevator One a try. I am sure you won’t be disappointed.”</p>

						<!-- Small Description -->

						<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> Boulevard Lebourgneuf, Québec, QC
							G2J 0C4</span>
						<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1800-555-1234">(418)
								580-7055</a></span>
						<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:mail@yourdomain.com">rocketelevator@codeboxx.biz</a></span>
						</p>


					</div>
					<!-- /col #1 -->

					<!-- col #2 -->
					<div class="col-md-4">
						<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

						<!-- Newsletter Form -->
						<p>Subscribe to Our Newsletter to get Important News & Offers</p>

						<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!"
						 data-toastr-position="bottom-right">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
								<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
								<span class="input-group-btn">
									<button class="btn btn-success" type="submit">Subscribe</button>
								</span>
							</div>
						</form>
						<!-- /Newsletter Form -->


					</div>
					<!-- /col #2 -->

				</div>


			</div>

			<div class="copyright">
				<div class="container">
					<ul class="float-right m-0 list-inline mobile-block">

					</ul>
					&copy; All Rights Reserved, Rocket elevators.
				</div>
			</div>

		</footer>

</body>

</html>